/*!
 * Start Bootstrap - Simple Sidebar (https://startbootstrap.com/template-overviews/simple-sidebar)
 * Copyright 2013-2019 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-simple-sidebar/blob/master/LICENSE)
 */
body {
    overflow-x: hidden;
}


#sidebar-wrapper .list-group ul p {
    color: #fff;
    padding: 10px;
}

#sidebar-wrapper .list-group ul li a {
    padding: 15px 0;
    font-size: 1.1em;
    display: block;
}

#sidebar-wrapper .list-group ul li a:hover {
    color: #7386D5;
}

#sidebar-wrapper .list-group ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

ul ul{
    margin-bottom: 15px !important;
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 10px !important;
}



#sidebar-wrapper {
    background: #272c33 !important;
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
    text-align: center;
    background: #000;
    color: #fff;
}

#sidebar-wrapper .status_login{
    padding: 0.875rem 1.25rem;
    font-size: 25px;
    text-align: center;
    background: #000;
    color: #fff;
    border-top: 1px solid #666;
    text-transform: capitalize;
}

#sidebar-wrapper .status_login .fa{
    font-size: 27px;
    margin-right: 10px;
}

#sidebar-wrapper .list-group {
    width: 15rem;
    padding: 15px;
}

#sidebar-wrapper .list-group ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

#sidebar-wrapper .list-group ul li{
    margin: 0;
    border-bottom: 1px solid #666;
}

#sidebar-wrapper .list-group ul li a{
    color: #fff;
    font-size: 15px;
}

#sidebar-wrapper .list-group ul li a .fa{
    margin-right: 15px;
    font-size: 18px;
}

#sidebar-wrapper .list-group ul li a .fa-user-o{
    font-size: 20px;
}

#sidebar-wrapper .list-group ul li a:hover{
    text-decoration: none;
    color: #666;
}

#sidebar-wrapper .list-group ul li ul>li{
    border: none;
}

#sidebar-wrapper .list-group ul li ul>li>a{
    padding: 10px 0 10px 34px !important;
}

#page-content-wrapper {
    min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }

    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }

    #wrapper.toggled #sidebar-wrapper {
        margin-left: -15rem;
    }
}
