/* This css file is to over write bootstrap css
--------------------------------------------------------- /
--------------------------------------------------------- */
/* Bootstrap */

.bersihkan{
    clear: both;
}


/*login*/

.login{
    margin: 100px 0;
    padding: 25px;
    background: #666;
    border-radius: 10px;
    opacity: 0.7;
}

.login .logo_login{
    text-align: center;
    margin-bottom: 25px;
}

.login .label_login{
    text-align: center;
    color: #fff;
    font-size: 25px;
    margin: 15px 0;
    font-weight: bold;
}

.login .logo_login img{
    border-radius: 50%;
}

.login .main_login label{
    font-size: 17px;
    color: #fff;
}
/*end login*/


.profile-out{
    margin: 0 !important;
    padding: 5px 35px;
    list-style: none;
}

.profile-out li{
    text-align: center;
    margin-bottom: 10px;
}

.profile-out li img{
    border: 1px solid #c6c6c6;
    margin-bottom: 10px;
    width: 100px;
}

.profile-out li a{
    margin: 0;
    background: #ccc;
    color: #666;
    padding: 7px 15px !important;
    border-radius: 4px;
    font-weight: 600;
}

.profile-out li a:hover{
    text-decoration: none;
}

#page-content-wrapper{
    background: #f8f9fa!important;
}

.content {
    width: 100%; 
    margin: 30px 0;
}

.content .all-info{
    width: 100%;
    padding: 0 15px;
    margin-bottom: 30px;
}

.content .all-info .transaksi{
    background: #fff;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #dee2e6;
}

.content .all-info .transaksi .transaksi-content{
    border-bottom: 1px solid #dee2e6;
    padding-bottom: 5px;
}

.content .all-info .transaksi .transaksi-content .fa{
    font-size: 50px;
    color: #666;
}

.content .all-info .transaksi .transaksi-content .img-font{
    float: left;
    margin-right: 15px;
}

.content .all-info .transaksi .transaksi-content .title-info{
    float: left;
}

.content .all-info .transaksi .transaksi-content .title-info .ttl_chil{
    font-weight: 500;
}

.content .all-info .transaksi .transaksi-action{
    padding-top: 3px;
}

.content .all-info .transaksi .transaksi-action .fa{
    font-size: 15px;
    color: #666;
}

.content .all-info .transaksi .transaksi-action .lihat{
    margin: 0 2px;
}

.content .all-info .transaksi .transaksi-action .lihat a{
    color: #666;
    font-size: 15px;
    font-style: italic;
}

.content .all-info .transaksi .transaksi-action .lihat a:hover{
    color: #CCC;
    text-decoration: underline;
}

.content .produk_home{
    width: 100%;
    padding: 0 15px;
}

.content .create_in{
    width: 100%;
    text-align: right;
    margin: 35px 0 20px 0;
    padding: 0 15px;
}

.content .create_in a{
    color: #fff;
    text-transform: capitalize;
    font-weight: 500;
}

.content .create_in a:hover{
    text-decoration: none;
}

.content .data_in{
    width: 100%;
    padding: 0 15px;
}

.content .data_in #example_wrapper{
    width: 100%;
    max-width: 100%;
}

.content .data_in fieldset{
    border: 1px solid #c6c6c6;
    padding: 30px;
    color: #666666;
    border-radius: 3px;
}

.content .data_in fieldset legend{
    font-size: 17px;
    border: 1px solid #c6c6c6;
    padding: 5px 10px;
    margin: 10px 0 10px 0;
    width: auto;
    text-align: center;
    border-radius: 3px;
}

.content .data_in form ::placeholder{
    font-style: italic;
    color: #666666;
    font-size: 15px;
}

.content .data_in form :-ms-input-placeholder{
    font-style: italic;
    color: #666666;
    font-size: 15px;
}

.content .data_in form ::-ms-input-placeholder{
    font-style: italic;
    color: #666666;
    font-size: 15px;
}

.content .data_in form .pilih{
    font-style: italic;
    color: #666666;
    font-size: 15px;
}

.content .data_in form .pilih option{
    font-style: normal;
}

.content .data_in form button>a{
    color: #fff;
    text-decoration: none;
}

.content .breadcrumbs{
    width: 100%;
    padding: 0 15px;
    margin-bottom: 30px;
}

.content .breadcrumbs .page-header{
    margin: 0;
    padding: 0 15px;
    background: #ffffff;
    border-bottom: 0;
    width: 100%;
}

.content .breadcrumbs .page-header h1{
    font-size: 16px;
    padding: 8px 0;
    margin: 0;
    font-style: italic;
}

.content .breadcrumbs .page-header .breadcrumb{
    margin: 0;
    padding: 13.5px 0;
    background: #fff;
    text-transform: capitalize;
}

.content .form_create{
    width: 100%;
    padding: 0 15px;
    margin-bottom: 30px;
}

.content .form_create .form_action .btn_simpan{
    border: none;
    border-radius: 5px;
    padding: 5px 15px;
}

.content .form_create .form_action .btn_cancel{
    border: none;
    border-radius: 5px;
    padding: 5px 15px;
}

.content .form_create .form_action .btn_cancel a{
    color: #fff;
}

.content .form_create .form_action .btn_cancel a:hover{
    text-decoration: none;
}

.content .form_create .form_action .custom-select{
    margin-bottom: 10px;
}

.content .form_create .data_action .barcode_insert{
    text-align: center;
}

.content .form_create form .lokasi_gudang{
    margin-bottom: 20px;
}

.content .form_create form .lokasi_gudang label{
    color: #212529;
}

.content .form_create form .lokasi_gudang select.custom-select .opt{
    padding: 10px 0;
}

.content .form_create form .jdltmbh{
    text-align: center;
}

.content .pt{
    margin: 0;
    padding: 0;
}

.content .pt form .cari-barcode .labelin{
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    text-transform: uppercase;
}

.content .pt form .cari-barcode .wrap-search{
    padding: 15px;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 3px;
    margin: 15px 0 35px 0;
}

.content .pt form .cari-barcode .wrap-search input{
    border-radius: 3px;
}

.content .pt form .cari-barcode .wrap-search span{
    margin-left: 5px;
}

.content .pt fieldset{
    border: 1px solid rgba(0,0,0,.125);
    padding: 15px;
    color: #666666;
    border-radius: 3px;
}

.content .pt fieldset legend{
    font-size: 15px;
    border: 1px solid rgba(0,0,0,.125);
    padding: 5px 10px;
    margin: 10px 0 10px 0;
    width: auto;
    text-align: center;
    border-radius: 3px;
}

.content .pt .main-product{
    padding: 15px 15px 0 15px;
}

.content .pt .main-product .product_detail{
    padding: 0;
}

.content .pt .main-product .product_detail table{
    width: 100%;
}

.content .pt .main-product .product_detail .jenis_name{
    margin: 0 0 2px 0;
    font-size: 15px;
    text-transform: capitalize;
    vertical-align: top;
}

.content .pt .main-product .product_detail .input_text{
    padding: 5px 8px;
    border-radius: 3px;
    border: 1px solid rgba(0,0,0,.125);
    width: 100%;
    font-size: 15px;
    margin-bottom: 15px;
    cursor: no-drop;
    color: #666666;
    text-transform: capitalize;
}

.content .pt .main-product .product_img{
    padding: 0;
}

.content .pt .main-product .product_img img{
    width: 100%;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 3px;
}

@media (max-width: 768px){
    .content .data_in #example_wrapper{
        overflow-x: auto;
    }
    .content .all-info .transaksi{
        margin-bottom: 20px;
    }
}